* {
    margin: 0;
    padding: 0;
}

.whole-container {
    width: 50%;
    margin: auto;
}

.card-container {
    margin: auto;
}

.title {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 40px;
}

